/* Common */
/* Placement */
body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.display-text {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;

	top: 50%;
	margin-top: -50%; /* 1/2 of height */
}

#screen {
	width: 100%;
	height: 100%;
  	position: absolute;
	overflow: hidden;
}

/* Decoration, appearance */
.display-text {
	font-size: 100pt;
	font-weight: bold;
}

/* States */
.state-idle {}
.state-ready {}
.state-calling {}
.state-customer-session {}
.state-maintenance {}
.state-error {}
.state-signed-off {}
.state-offline {}