/*theme.css*/

/* Using online font, better: to install locally */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

body {
	background-color: #082838;
}

body.state-trace {
	background-color: green;
}

body, #screen {
	font-family: "Source Code Pro",Menlo,Consolas,Monaco,monospace;
	color: #81A9D5;
}

.fa.icon {
	color: rgb(200,200,200)
}
.fa.icon {
	font-size: 22px;
}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}


/* badge floating over icon:; */
.badge-notify{
   color: #000;
   position: relative;
   top: -10px;
   left: -40px;
   /*border: 1px solid rgb(30,30,30);*/
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.bg-info {
   background:rgb(100,255,100);
   color: #333;
}
.bg-warning {
   background:rgb(255,200,100);
   color: #333;
}
.bg-danger {
   background:rgb(255,100,100);
   color: #333;
}
.text-info {
   color:rgb(100,255,100);
}
.text-warning {
   color:rgb(255,200,100);
}
.navbar-inverse .navbar-nav > li > a.bg-primary,
.navbar-inverse .navbar-nav > li > a.bg-info,
.navbar-inverse .navbar-nav > li > a.bg-success,
.navbar-inverse .navbar-nav > li > a.bg-warning,
.navbar-inverse .navbar-nav > li > a.bg-danger {
	color: rgb(30,30,30);
}

.navbar-inverse .navbar-nav > li > a.bg-primary:hover,
.navbar-inverse .navbar-nav > li > a.bg-info:hover,
.navbar-inverse .navbar-nav > li > a.bg-success:hover,
.navbar-inverse .navbar-nav > li > a.bg-warning:hover,
.navbar-inverse .navbar-nav > li > a.bg-danger:hover {
	color: rgb(200,200,200);
}

.icon.fa {
	font-size: 16px;
}


/*.dropdown,
.dropdown-group,
.dropdown-group button.btn.btn-default.dropdown-toggle,
.dropdown-group a.btn.btn-default.dropdown-toggle,
.dropdown-group ul li a {
	font-size: inherit;
}
*/

/*
Operator console
 */
.ticket-inspector {
	opacity: 0.9;
	border-bottom: 2px solid #333;
}
.row[data-ticket-id]:hover {
	background: rgb(33, 65, 81); /* 8, 40, 56*/
}
.row[data-ticket-id].selected {
	background: rgb(58, 90, 106); /* 8, 40, 56*/
}
