/*touchscreen.css*/
/*one-line-fixed.css*/

/* To-do: find narrow font; make */

body {
	font-size:200px;
}

html,
body#i-stateful {
    height: 100%;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

container.menu .row {
  text-align: center;
}

container.menu .row .col-xs-6,
container.menu .row .col-sm-6,
container.menu .row .col-md-6,
container.menu .row .col-lg-6 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container.menu .btn {
  width: 100%;
}

.btn, input[type=text] {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
}

@media screen and (max-height : 480px) {
  body, .btn{
    font-size: 36px;
    /*line-height: 120px;*/
  }
}
@media screen and (min-height : 480px) and (max-height : 640px) {
  body, .btn{
    font-size: 40px;
    /*line-height: 160px;*/
  }
}
@media screen and (min-height : 640px) and (max-height : 768px) {
  body, .btn{
    font-size: 50px;
    /*line-height: 192px;*/
  }
}
@media screen and (min-height : 768px) and (max-height : 1024px) {
  body, .btn{
    font-size: 64px;
    /*line-height: 256px;*/
  }
}
@media screen (min-height : 1024px) and (max-height : 1280px) {
  body, .btn{
    font-size: 85px;
    /*line-height: 320px;*/
  }
}

/*@media screen and (max-device-width : 1204px) {
  body, .btn {
    font-size: 192px;
    height: 192px;
  }
}*/

.container, .carousel,.item,.carousel-inner{
    width:100%; height:100%;
}
.item {
  padding-top:30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.prompt {
  text-align: center;
  font-size: 150%;
}

.fill{
  width:100%;
  height:100%;
  /*background-image:url('rename.jpg');*/
  background-position:center;
  background-size:cover;
}
.fill {text-align: center;}

.v-key, .v-grid {
  padding-left: 3px;
  padding-right: 3px;
}

.input-group {
  margin-top: 5px;
}
.input-group input {
  /*border: 1px rgb(200,200,200);*/
  margin-top: 0;
  margin-bottom: 0;
}
.input-group .input-group-addon {
    font-size: 36px;
}
