/*main.css*/
/* ws-tooltip */
/* initial version was only for "a" elements: a.ws-tooltip*/
.ws-tooltip {outline:none; }
.ws-tooltip strong {line-height:30px;}
.ws-tooltip:hover {text-decoration:none;}
.ws-tooltip span.ws-tooltip {
	font-size: 12px;
    display:none; padding:14px 20px;
    margin-top:15px; margin-left:-25px;
    width:auto; /*line-height:16px;*/
    padding: 5px;
    white-space: nowrap;
}
.ws-tooltip:hover span.ws-tooltip{
    display:inline; position:absolute; z-index:1050; color: rgb(255,255,255);
    border:1px solid rgb(150,150,150); background:rgb(0,0,0);}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}


/* No-collapse */
.navbar.dont-collapse {
  display: block !important;
  overflow: visible;
}

.navbar.dont-collapse .navbar-nav>li,
.navbar.dont-collapse .navbar-nav>.navbar-text,
.navbar.dont-collapse .navbar-nav {
  float: left !important;
}

.navbar.dont-collapse .nav.navbar-nav:first-child {
  margin-left: 15px !important;
  margin-top:0 !important;
  margin-bottom: 0 !important;
}

.navbar.dont-collapse .nav.navbar-nav.navbar-right:last-child {
  margin-right: 15px !important;
  margin-top:0 !important;
  margin-bottom: 0 !important;
}

.navbar.dont-collapse .navbar-right {
  float: right !important;
}

.nav > li > a {
	padding-left: 25px;
	padding-right: 25px;
}
button {
	text-overflow: ellipsis;
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: .5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /*color: red;*/
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}