/*operator-console.css*/
body {
	overflow-x: hidden;
}
/*.ajax-wait {
	display: none;
}
*/
.pic {
  display: inline-block;
  background-image: url('img/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 20px;
}
body > .container-flex {

}
body > .container-flex {
	padding-top: 60px; /* offset for the top navbar */
}
#queue.container-flex {
}

#queue .row {
	width: 100%;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid rgb(100,100,100)
}
#queue .col-sm-2,
#queue .col-sm-8,
#queue .col-xs-3,
#queue .col-xs-6 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	vertical-align: middle;
	float: none;
	display: table-cell;
	height: 100%;
}

section.ticket-inspector {
	background-color: rgb(200,200,200);
	color: rgb(5,5,5);
}

/* Pages for views*/
/* Rows */
section#workplaces .row,
section#displays .row,
section#ticket-devices .row,
section#users .row {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #559;
}
/* Cells */
section#workplaces .row > div,
section#displays .row > div,
section#ticket-devices .row > div,
section#users .row > div {
	white-space: nowrap;
	text-overflow: ellipsis;
}

