/* HAS SPECIFICS */
/*states-reflection.css*/
/*states-reflection.css*/
/*
#i-states - Container which holds DOM tree and can have one of the "states" (modeled by classes):
state-select-service, state-enter-person-id, ...;
Developer can add new states and behaviour
#page-1, ... - objects which becomes visible at correspondent state
 */

/* By default, state-dependant controls are invisible */
/* *[data-reaction-show-on-state] {
	display: none;
} */

/*But display elements when correspondent state occurs: */

/*		'state-edit-workplaces': true,
		'state-edit-displays': true,
		'state-edit-ticket-devices': true,
		'state-edit-users': true,
*/
#i-stateful.state-edit-workplaces *[data-reaction-show-on-state="state-edit-workplaces"],
#i-stateful.state-edit-displays *[data-reaction-show-on-state="state-edit-displays"],
#i-stateful.state-edit-ticket-devices *[data-reaction-show-on-state="state-edit-ticket-devices"],
#i-stateful.state-edit-users *[data-reaction-show-on-state="state-edit-users"]

/* #i-stateful.state-idle *[data-reaction-show-on-state="state-idle"],
#i-stateful.state-ready *[data-reaction-show-on-state="state-ready"],
#i-stateful.state-selection *[data-reaction-show-on-state="state-selection"],
#i-stateful.state-calling *[data-reaction-show-on-state="state-calling"],
#i-stateful.state-customer-session *[data-reaction-show-on-state="state-customer-session"]  */
{
	display: block;

	left: 0;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}