/*operator-console.css*/
body {
	overflow-x: hidden;
}
.ajax-wait {
	display: none;
}
.pic {
  display: inline-block;
  background-image: url('img/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 20px;
}

#queue.container-flex {
	margin-top: 60px; /* offset for the top navbar */
}

#queue .row {
	display: table;
	width: 100%;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-left: 0! important;
	border-bottom: 1px solid rgb(100,100,100)
}

#queue .col-sm-1,
#queue .col-sm-2,
#queue .col-sm-3,
#queue .col-sm-4,
#queue .col-sm-5,
#queue .col-sm-6,
#queue .col-sm-7,
#queue .col-sm-8,

#queue .col-xs-1,
#queue .col-xs-2,
#queue .col-xs-3,
#queue .col-xs-4,
#queue .col-xs-5,
#queue .col-xs-6,
#queue .col-xs-7,
#queue .col-xs-8

{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	float: none;
	display: table-cell;
	height: 100%;
}

section.ticket-inspector {
	background-color: rgb(200,200,200);
	color: rgb(5,5,5);
}
.ticket-display-text {
	font-size: 30px;
	line-height: 30px;
}
.pic, .order {
	font-size: 30px;
	line-height: 30px;
}



.navbar p.navbar-text {
	font-size: 120%;
}
.navbar time {
	font-size: 120%;
	font-weight: bold;
}

.ticket-inspector {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
}

.row[data-ticket-id] > * {
	cursor: default;
}
