/* PECIFICS */
/*states-reflection.css*/
/*
#i-states - Container which holds DOM tree and can have one of the "states" (modeled by classes):
state-select-service, state-enter-person-id, ...;
Developer can add new states and behaviour
#page-1, ... - objects which becomes visible at correspondent state
 */

#i-stateful.state-selection .item[data-reaction-show-on-state=state-selection],
#i-stateful.state-enter-person-id .item[data-reaction-show-on-state=state-enter-person-id],
#i-stateful.state-display-ticket-info .item[data-reaction-show-on-state=state-display-ticket-info] {
	display: inherit;

	left: 0;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}