doctype html
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Admin Console

	link(rel="stylesheet", type="text/css", href="styles/admin-console.css")

body#i-stateful
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
			.navbar-header

			ul#pages-nav.nav.navbar-nav
				li: a(href='#displays', data-action-set-state="state-edit-displays")
					i.fa.fa-tv
					|&nbsp;
					span Displays
				li: a(href='#workplaces', data-action-set-state="state-edit-workplaces")
					i.fa.fa-user
					|&nbsp;
					span Workplaces
				li: a(href='#tickets', data-action-set-state="state-edit-ticket-devices")
					i.fa.fa-user
					|&nbsp;
					span Tickets
				li: a(href='#users', data-action-set-state="state-edit-users")
					i.fa.fa-user
					|&nbsp;
					span Users
				li: a(href='#', data-action-code="sign-out")
					i.fa.fa-power-off
					|&nbsp;
					span Sign out

			//- a.navbar-brand(href='#')
				| Air
				b QMS
			//- ul.nav.navbar-nav
				li.active
					a(href='#')
						span.glyphicon.glyphicon-triangle-up
						| Return to top
			p.navbar-text
				span(data-display-value="status-message")
			// State-dependant controls:
			p.navbar-text(data-reaction-show-on-state="state-calling")
				time --:--:--
			p.navbar-text(data-reaction-show-on-state="state-customer-session")
				time --:--:--
			p.navbar-text.ajax-wait
				i.fa.fa-cog.fa-spin.fa-fw
				span Wait...
			ul.nav.navbar-nav.navbar-right
				li: a(href='#')
					span.icon.fa.fa-bell
					span.badge.badge-notify.bg-warning(data-display-value="alerts") 3
				li: a(href='#')
					span.icon.fa.fa-users
					span.badge.badge-notify.bg-info(data-display-value="queue-length") 3
			//- span.icon-bar
			//- 	i.fa.fa-arrow
			//- 	i.fa.fa-users

	.container-flex
		// Queue pool:
		section#workplaces(data-reaction-show-on-state="state-edit-workplaces")
		section#displays(data-reaction-show-on-state="state-edit-displays")
		section#ticket-devices(data-reaction-show-on-state="state-edit-ticket-devices")
		section#users(data-reaction-show-on-state="state-edit-users")
		//- div(data-reaction-show-on-state="state-calling")
		//- div(data-reaction-show-on-state="state-customer-session")

	//- nav.navbar.navbar-inverse.navbar-fixed-bottom
		section.ticket-inspector
			div.container-fluid
				div.row
					div.col-xs-3 Hello

		.container-fluid
			.navbar-header

			// State-dependant controls:

			nav.navbar-nav(data-reaction-show-on-state="state-ready")
				button.btn.btn-primary.navbar-btn(type='button', data-action-code="call-first")
					i.fa.fa-bell
					|&nbsp;
					span Call Next
				button.btn.btn-success.navbar-btn(type='button', data-action-code="call-selected")
					i.fa.fa-bell-o
					|&nbsp;
					span Call Selected
				button.btn.btn-warning.navbar-btn(type='button', data-action-code="sign-out")
					i.fa.fa-power-off
					|&nbsp;
					span Sign out

			nav.navbar-nav(data-reaction-show-on-state="state-calling")
				button.btn.btn-primary.navbar-btn(type='button', data-action-set-state="state-customer-session") Serve
				button.btn.btn-warning.navbar-btn(type='button') Defer

			nav.navbar-nav(data-reaction-show-on-state="state-customer-session")
				button.btn.btn-primary.navbar-btn(type='button', data-action-set-state="state-ready") Done
				button.btn.btn-warning.navbar-btn(type='button') Redirect



			//- ul.nav.navbar-nav
				li.active
					a(href='#', data-action-code="call-first")
						span.glyphicon.glyphicon-triangle-up
						| Next
						span.info.queue-nearest-id
				li
					a(href='#', data-action-code="call-selected")
						span.glyphicon.glyphicon-triangle-up
						| Selected
						span.info.queue-selected-id
				li
					a(href='#', data-action-code="sign-out")
						i.fa.fa-power-off.fa-1x

	template#dialog-assign-display
		.modal-content
			.modal-header
				h4.modal-title(data-dialog-value="title") Dialog
			.modal-body
				select(data-dialog-value="displays", size=7, style="width:100%")
			.modal-footer
				button.btn.btn-default(type="button", data-dialog-control="Ok") Assign
				button.btn.btn-default(type="button", data-dialog-control="Cancel") Cancel

	template#dialog-test-display-output
		.modal-content
			.modal-header
				h4.modal-title(data-dialog-value="title")
			.modal-body
				input.form-control(type="text", data-dialog-value="textString", placeholder="Enter text...")
				label.form-label Select state to apply
					select(data-dialog-value="states")
			.modal-footer
				button.btn.btn-default(type="button", data-dialog-control="Ok") Assign
				button.btn.btn-default(type="button", data-dialog-control="Cancel") Cancel

	// Templates for tables
	template#table-ticket-devices-row
		.row
			.col-xs-1  Ticket device \#{ADDR}
			.col-xs-3  {UUID}
			.col-xs-4  {online}
			.col-xs-4.row-buttons
				button.btn.btn-info.btn-xs(data-action-code='ping', data-action-args='{UUID}') Ping
				button.btn.btn-primary.btn-xs(data-action-code='trace', data-action-args='{UUID}') Trace

	template#table-workplaces-row
		.row
			.col-xs-1  Workplace \#{ADDR}
			.col-xs-3  {UUID}
			.col-xs-2  {online}
			.col-xs-2  {display}
			.col-xs-4.row-buttons
				button.btn.btn-primary.btn-xs(data-action-code='assignDisplay', data-action-args='{UUID}') Set Display

	template#table-displays-row
		.row
			.col-xs-1  Display \#{ADDR}
			.col-xs-3  {UUID}
			.col-xs-2  {online}
			.col-xs-2  {state}
			.col-xs-4.row-buttons
				button.btn.btn-info.btn-xs(data-action-code='pingDisplay', data-action-args='{UUID}') Ping
				button.btn.btn-primary.btn-xs(data-action-code='traceDisplay', data-action-args='{UUID}') Trace
				button.btn.btn-primary.btn-xs(data-action-code='testDisplay', data-action-args='{UUID}') Test output



	//- script(type="text/javascript")
	//- 	|
	//- 	| function inputChanged() {
	//- 	|	try {
	//- 	|	var data = document.getElementById('phone-last-digits').value;
	//- 	|	var nextBtn = document.getElementById('create-ticket');
	//- 	|	console.log('inputCalled', data)
	//- 	|	if (data.length == 0) nextBtn.setAttribute('disabled', true); else nextBtn.removeAttribute('disabled')
	//- 	| } catch (e) {console.error(e)}
	//- 	| }