doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Magneto Display [-]

  link(rel="stylesheet", type="text/css", href="styles/display-node.css")

body#i-stateful
  #screen
    .display-text.blink(data-reaction-show-on-state="state-trace") -trace-
    .display-text(data-reaction-show-on-state="state-offline") -offline-
    .display-text(data-reaction-show-on-state="state-online") -online-
    .display-text(data-reaction-show-on-state="state-ready") -ready-
    .display-text.blink(data-reaction-show-on-state="state-calling") -calling-
    .display-text(data-reaction-show-on-state="state-customer-session") -session-

    .display-text(data-reaction-show-on-state="state-idle") -idle-
    .display-text(data-reaction-show-on-state="state-maintenance") -maintenance-
    .display-text(data-reaction-show-on-state="state-error") -error-
    .display-text(data-reaction-show-on-state="state-signed-off") -signed off-

    .display-text(data-reaction-show-on-state="state-pnp-connecting") -PnP ...-
    .display-text(data-reaction-show-on-state="state-pnp-done") -PnP OK-
    .display-text(data-reaction-show-on-state="state-pnp-address-conflict") -PnP Conflict-
    .display-text(data-reaction-show-on-state="state-pnp-bus-overflow") -PnP OVR-
    .display-text(data-reaction-show-on-state="state-pnp-unknown-error") -PNP Err-

