.modal-content.autoclose
  .modal-header
    h3 Sign Up
  .modal-body
    form.form.form-horizontal(action='javascript:void(0)')
      .alert.alert-info
        p This email will be used for the further logins.
        p
          | Provide the actual email, please, this address can be used to recover your password.
      .row.form-group
        .col-xs-8.col-sm-4
          label.control-label(for='login-username') e-mail
        .col-xs-8.col-sm-8
          input#email.form-control.autofocus(type='email', placeholder='e-mail', data-dialog-value='email', autofocus='')
      .row.form-group
        .col-xs-8.col-sm-4
          label.control-label(for='c2') Password
        .col-xs-8.col-sm-8
          input#c2.form-control(type='password', placeholder='Password', data-dialog-value='password')
      .row.form-group
        .col-xs-8.col-sm-4
          label.control-label(for='c2') Confirm Password
        .col-xs-8.col-sm-8
          input#c2.form-control(type='password', placeholder='Password', data-dialog-value='passwordConfirmation')
      .modal-footer
        button.btn.btn-default(type="button", data-dialog-control="Ok") Create
        button.btn.btn-default(type="button", data-dialog-control="Cancel") Cancel
