.modal-content.autoclose
  .modal-header
    h3 User details
  form.form.form-horizontal(action="javascript:void(0)")
    .modal-body
      .container
        section(data-form-group='', data-glyphicon='glyphicon-email', data-feedback='true', data-event='userNameCanged')
          label.col-sm-3 Account Email
          .col-sm-9
            span.form-control(data-display-value='email')
        section(data-form-group='', data-glyphicon='glyphicon-user', data-feedback='true', data-event='userNameCanged')
          label.col-sm-3 Display Name
          .col-sm-9
            input(type='text', required='true', data-dialog-value='Label')
        section(data-form-group='', data-glyphicon='glyphicon-user', data-feedback='true', data-event='userNameCanged')
          label.col-sm-3 First Name
          .col-sm-9
            input(type='text', data-dialog-value='firstName')
        section(data-form-group='', data-glyphicon='glyphicon-user', data-feedback='true', data-event='userNameCanged')
          label.col-sm-3 Last Name
          .col-sm-9
            input(type='text', data-dialog-value='lastName')
        //- section(data-form-group='', data-group-addon='@', data-feedback='true')
        //-   label.col-sm-3 Contact Email
        //-   .col-sm-9
        //-     input(type='text', data-dialog-value='contactEmail', data-inputmask-alias='e-mail')
        //- section(data-form-group='', data-glyphicon='fa-phone', data-feedback='true')
        //-   label.col-sm-3 Contact Phone
        //-   .col-sm-9
        //-     input(type='text', data-dialog-value='phone')
        //- section(data-form-group='', data-glyphicon='fa-map-marker', data-feedback='true')
        //-   label.col-sm-3 Billing Address
        //-   .col-sm-9
        //-     textarea(data-dialog-value='address')
        //- section(data-form-group='', data-glyphicon='fa-sticky-note', data-feedback='true')
        //-   label.col-sm-3 Comment
        //-   .col-sm-9
        //-     textarea(data-dialog-value='Comment')
        //- section(data-form-group='', data-glyphicon='fa-sticky-note', data-feedback='true')
        //-   label.col-sm-3 Space Quota
        //-   .col-sm-9
        //-     select(data-bind="options:lookups.QuotaList, optionsText:'label', optionsValue:'value', value:SpaceQuota")
        section(data-form-group='')
          .col-sm-offset-3.col-sm-9
            label
              input(type='checkbox', data-dialog-value='isAdmin')
              |  Has Admin priveleges
              i.fa.fa-certificate
        section(data-form-group='')
          .col-sm-offset-3.col-sm-9
            label
              input(type='checkbox', data-dialog-value='isLocked')
              |  Is Locked
              i.fa.fa-lock
    .modal-footer
      button.btn.btn-default(type="button", data-dialog-control="Ok") Create
      button.btn.btn-default(type="button", data-dialog-control="Cancel") Cancel
