template#alert-info
	.modal-content
		.modal-header
			h4.modal-title(data-dialog-value="title") Alert
		.modal-body
			.panel.panel-default
				.panel-body.bg-info
					span(data-dialog-value="message")
		.modal-footer
			button.btn.btn-primary(type="button", data-dialog-control="Cancel") Continue

template#alert-error
	.modal-content
		.modal-header
			h4.modal-title(data-dialog-value="title") Alert
		.modal-body
			.panel.panel-default
				.panel-body.bg-danger
					span(data-dialog-value="message")
		.modal-footer
			button.btn.btn-primary(type="button", data-dialog-control="Cancel") Continue

script(type="text/javascript")
	| if (!window.dialogWindow) throw new Error('"dlg-alert" requires "html-dialog" modules!')
	| window.showAlert = function (message, title, kind) {
	|   return window.dialogWindow
	|     .fromTemplate('alert-'+(kind || 'info'))
	|     .show({
	|         'title': title || 'Alert',
	|         'message': message
	|      })
	| }
