doctype html
head
	meta(charset='utf-8')
	title Demo - Customer Workflow System
	link(rel="stylesheet", type="text/css", href="node_modules/font-awesome/css/font-awesome.min.css")
	link(rel="stylesheet", type="text/css", href="node_modules/bootstrap/dist/css/bootstrap.min.css")
body
	.container
		.page-header
			h1 Queue Management System
		.jumbotron
			h2 Main components
			p Below are main components of the system in a sample configuration (for retail bank)
			p
				a.btn.btn-primary.btn-lg(href='ticket-console.html', role='button', target="_blank") Check-in application
			p
				a.btn.btn-primary.btn-lg(href='admin-console.html', role='button', target="_blank") Administrator workplace
			p
				a.btn.btn-primary.btn-lg(href='operator-console.html', role='button', target="_blank") Operator workplace
			p
				a.btn.btn-primary.btn-lg(href='display-node.html', role='button', target="_blank") Signal display
	//- include dlg-sign-up