doctype html
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Operator Console [?]
	// script(src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js")
	//- script(type="text/javascript", src="node_modules/firebase/firebase.js")
	//- script
	//- 	|// Initialize Firebase
	//- 	|var config = {
	//- 	|	apiKey: "AIzaSyAViQOYqEv34oDa5KMiP3l7a3cM0MzKXhY",
	//- 	|	authDomain: "qms-database-42b86.firebaseapp.com",
	//- 	|	databaseURL: "https://qms-database-42b86.firebaseio.com",
	//- 	|	storageBucket: "qms-database-42b86.appspot.com",
	//- 	|	messagingSenderId: "134682369542"
	//- 	|};
	//- 	|firebase.initializeApp(config);

	//- link(rel="stylesheet", type="text/css", href="node_modules/font-awesome/css/font-awesome.min.css")
	//- link(rel="stylesheet", type="text/css", href="node_modules/bootstrap/dist/css/bootstrap.min.css")
	//- link(rel="stylesheet", type="text/css", href="app/styles/workplace.css")
	//- link(rel="stylesheet", type="text/css", href="app/components/operator-dashboard/states-reflection.css")
	//- link(rel="stylesheet", type="text/css", href="app/components/operator-dashboard/operator-dashboard.css")

	//- link(rel="stylesheet", type="text/css", href="app/styles/theme.css")

	link(rel="stylesheet", type="text/css", href="styles/operator-console.css")


body#i-stateful
	nav.navbar.navbar-inverse.navbar-fixed-top.dont-collapse
		.container-fluid
			//- a.navbar-brand(href='#')
				| Air
				b QMS
			//- ul.nav.navbar-nav
				li.active
					a(href='#')
						span.glyphicon.glyphicon-triangle-up
						| Return to top
			div.nav.navbar-nav
				p.navbar-text(style="font-size:120%")
					span(data-display-value="status-message")
				// State-dependant controls:
				p.navbar-text(data-reaction-show-on-state="state-calling")
					time(data-display-value="waiting-time-elapsed") --:--:--
				p.navbar-text(data-reaction-show-on-state="state-customer-session")
					time(data-display-value="service-time-elapsed") --:--:--
				p.navbar-text.ajax-wait(style="font-size:120%")
					i.fa.fa-cog.fa-spin.fa-fw
					span Wait...
			div.nav.navbar-nav.navbar-right
				p.navbar-text.ws-tooltip
					span.icon.fa.fa-bell
					span.badge.badge-notify.bg-warning(data-display-value="alerts") 3
					span.ws-tooltip Alerts
				p.navbar-text.ws-tooltip
					span.icon.fa.fa-users
					span.badge.badge-notify.bg-info(data-display-value="queue-length") 3
					span.ws-tooltip Queue
			//- span.icon-bar
			//- 	i.fa.fa-arrow
			//- 	i.fa.fa-users


	// Queue pool:
	#queue.container-flex
	div(data-reaction-show-on-state="state-calling")
	div(data-reaction-show-on-state="state-customer-session")

	nav.navbar.navbar-inverse.navbar-fixed-bottom
		section(data-display-value="ticket-inspector").ticket-inspector
			div.container-fluid

		.container-fluid
			.navbar-header

			// State-dependant controls:

		ul.nav.navbar-nav(data-reaction-show-on-state="state-ready")

			li: a(href='#', data-action-code="call-first").bg-primary
				i.fa.fa-bell
				|&nbsp;
				span Call Next
			li: a(href='#', data-action-code="call-selected").bg-success
				i.fa.fa-bell-o
				|&nbsp;
				span Call Selected
			li: a(href='#', data-action-code="sign-out").bg-warning
				i.fa.fa-power-off
				|&nbsp;
				span Sign out

		ul.nav.navbar-nav(data-reaction-show-on-state="state-calling")
			li: a(href='#', data-action-code="serve-ticket").bg-primary Serve
			li: a(href='#', data-action-code='defer-ticket').bg-warning Defer

		ul.nav.navbar-nav(data-reaction-show-on-state="state-customer-session")
			li: a(href='#', data-action-code="close-ticket").bg-primary Done
			li: a(href='#', data-action-code='redirect-ticket').bg-warning Redirect



			//- ul.nav.navbar-nav
				li.active
					a(href='#', data-action-code="call-first")
						span.glyphicon.glyphicon-triangle-up
						| Next
						span.info.queue-nearest-id
				li
					a(href='#', data-action-code="call-selected")
						span.glyphicon.glyphicon-triangle-up
						| Selected
						span.info.queue-selected-id
				li
					a(href='#', data-action-code="sign-out")
						i.fa.fa-power-off.fa-1x

	// Row of queue list:
	template#queue-row
		.row(data-ticket-id='{ticketId}')
			.col-sm-1.hidden-xs
				span.order {order}
			.col-sm-3.col-xs-4
				span.pic
				| &nbsp;
				span.text-warning.ticket-display-text {ticketDisplayText}
			.col-sm-2.col-xs-8 {timestamp}
				span.visible-xs.sm-hidden {info}
			.col-sm-6.hidden-xs
				span.text-info {info}

	template#queue-inspector
		.row
			.col-xs-12
				h3 Selected ticket&nbsp;{ticketDisplayText}&nbsp;
					span(data-reaction-show-on-state="state-ready") (Idle)
					span(data-reaction-show-on-state="state-calling").blink
						| (Calling)
						b: time(data-display-value="waiting-time-elapsed")
					span(data-reaction-show-on-state="state-customer-session")
						| (Service)
						b: time(data-display-value="service-time-elapsed")
		.row
			.col-sm-2.col-xs-8
				| Created at: {timestamp}
				span.visible-xs.sm-hidden
					| {info}
					span
			.col-sm-6.hidden-xs
				| Selected services:
				span {info}

	// remove:
	template#dialog-calling
		.modal-content
			.modal-header
				h4.modal-title(data-dialog-value="title") Dialog
			.modal-body
				div.message Calling...
					span.timer ...
			.modal-footer
				button.btn.btn-default(type="button", data-dialog-result="start-session") Start session
				button.btn.btn-default(type="button", data-dialog-result="defer-ticket") Defer ticket

	//- script(type="text/javascript")
		|
		| function inputChanged() {
		|	try {
		|	var data = document.getElementById('phone-last-digits').value;
		|	var nextBtn = document.getElementById('create-ticket');
		|	console.log('inputCalled', data)
		|	if (data.length == 0) nextBtn.setAttribute('disabled', true); else nextBtn.removeAttribute('disabled')
		| } catch (e) {console.error(e)}
		| }