doctype html
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Magneto Tickets Device

	link(rel="stylesheet", type="text/css", href="styles/ticket-console.css")

body#i-stateful

	#carousel-control.carousel.slide(data-ride='carousel')
		ol.carousel-indicators
			li.active(data-target='#carousel-control', data-slide-to='0')
			li(data-target='#carousel-control', data-slide-to='1')
			li(data-target='#carousel-control', data-slide-to='2')
		.carousel-inner(role='listbox')

			// First page
			#page-1.item(data-reaction-show-on-state="state-selection")
				.fill
					.container.menu
						.row
							.col-xs-12: .prompt.center-block I need:
						.row
							.col-xs-6.col-xs-offset-3
								button.btn.btn-warning(data-action-select-service="deposit" data-action-set-state="state-enter-person-id") Deposit&nbsp;
								span.info.queue-length.deposit
						.row
							.col-xs-6.col-xs-offset-3
								button.btn.btn-primary(data-action-select-service="loan-application" data-action-set-state="state-enter-person-id") Loan application&nbsp;
								span.info.queue-length.loan
						.row
							.col-xs-6.col-xs-offset-3
								button.btn.btn-primary(data-action-select-service="cash-out" data-action-set-state="state-enter-person-id") Cash out&nbsp;
								span.info.queue-length.cash-out
						.row
							.col-xs-6.col-xs-offset-3
								button.btn.btn-info(data-action-select-service="consult" data-action-set-state="state-enter-person-id") Consult me&nbsp;
								span.info.queue-length.cash-out

				//- a.left.carousel-control(href='#carousel-control', role='button', data-slide='prev')
					span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
					|
					span.sr-only Previous
				//- a.right.carousel-control(href='#carousel-control', role='button', data-slide='next')
					span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
					|
					span.sr-only Next

			// Second page
			#page-2.item(data-reaction-show-on-state="state-enter-person-id")
				.fill
					.container.menu
						.row
							.col-xs-12: .prompt.center-block
								| Last 4 digits of my phone:
						.row
							.col-xs-3.col-xs-offset-3.v-grid
								div.input-group
									span.input-group-addon
										i.fa.fa-phone
									input#phone-last-digits(type="text", data-set-value="person-id", style="width:100%")
							.col-xs-3.v-grid
								button#create-ticket.btn.btn-primary(data-action-code="register-ticket", disabled="true") Register
						.row.hidden-xs
							.col-sm-6.col-sm-offset-3
								.row
									.col-xs-3.v-key
										button(data-keyboard-button='1').btn.btn-success 1
									.col-xs-3.v-key
										button(data-keyboard-button='2').btn.btn-success 2
									.col-xs-3.v-key
										button(data-keyboard-button='3').btn.btn-success 3
									.col-xs-3.v-key
										button(data-keyboard-button='4').btn.btn-success 4
								.row
									.col-xs-3.v-key
										button(data-keyboard-button='5').btn.btn-success 5
									.col-xs-3.v-key
										button(data-keyboard-button='6').btn.btn-success 6
									.col-xs-3.v-key
										button(data-keyboard-button='7').btn.btn-success 7
									.col-xs-3.v-key
										button(data-keyboard-button='8').btn.btn-success 8
								.row
									.col-xs-3.v-key
										button(data-keyboard-button='9').btn.btn-success 9
									.col-xs-3.v-key
										button(data-keyboard-button='0').btn.btn-success 0
									.col-xs-6.v-key
										button(data-keyboard-backspace='true').btn.btn-warning
											i.fa.fa-chevron-left
											i.fa.fa-times
											span &nbsp;

				a.left.carousel-control(href='#carousel-control', data-action-set-state="state-selection", role='button', data-slide='prev')
					span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
					|
					span.sr-only Previous
				//- a.right.carousel-control(href='#carousel-control', role='button', data-slide='next')
					span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
					|
					span.sr-only Next

			// 3rd page
			#page-3.item(data-reaction-show-on-state="state-display-ticket-info")
				.fill
					.container.menu
						.row
							.col-xs-12: .prompt.center-block Done!
						.row
							.col-xs-6.col-xs-offset-3
								span Remember your ticket:&nbsp;
								span(data-display-value="ticket-no")
						.row
							.col-xs-6.col-xs-offset-3
								span.info.time-tick-remains

		//- a.left.carousel-control(href='#carousel-control', role='button', data-slide='prev')
		//- 	span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
		//- 	|
		//- 	span.sr-only Previous
		//- a.right.carousel-control(href='#carousel-control', role='button', data-slide='next')
		//- 	span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
		//- 	|
		//- 	span.sr-only Next


	//- script(type="text/javascript")
	//- 	|
	//- 	| function inputChanged() {
	//- 	|	try {
	//- 	|	var data = document.getElementById('phone-last-digits').value;
	//- 	|	var nextBtn = document.getElementById('create-ticket');
	//- 	|	console.log('inputCalled', data)
	//- 	|	if (data.length == 0) nextBtn.setAttribute('disabled', true); else nextBtn.removeAttribute('disabled')
	//- 	| } catch (e) {console.error(e)}
	//- 	| }
