/*states-reflection.css*/

*[data-reaction-show-on-state] {
	display: none;
}


/*But display elements when correspondent state occurs: */
#i-stateful.state-idle *[data-reaction-show-on-state="state-idle"],
#i-stateful.state-ready *[data-reaction-show-on-state="state-ready"],
#i-stateful.state-selection *[data-reaction-show-on-state="state-selection"],
#i-stateful.state-calling *[data-reaction-show-on-state="state-calling"],
#i-stateful.state-customer-session *[data-reaction-show-on-state="state-customer-session"],

/* Service modes*/
#i-stateful.state-maintenance *[data-reaction-show-on-state="state-maintenance"],
#i-stateful.state-error *[data-reaction-show-on-state="state-error"],
#i-stateful.state-signed-off *[data-reaction-show-on-state="state-signed-off"],
#i-stateful.state-offline *[data-reaction-show-on-state="state-offline"],
#i-stateful.state-online *[data-reaction-show-on-state="state-online"],
#i-stateful.state-service-menu *[data-reaction-show-on-state="state-service-menu"],
#i-stateful.state-trace *[data-reaction-show-on-state="state-trace"],

/* to-do: move to states-reflection-pnp.css*/
#i-stateful.state-pnp-connecting *[data-reaction-show-on-state="state-pnp-connecting"],
#i-stateful.state-pnp-done *[data-reaction-show-on-state="state-pnp-done"],
#i-stateful.state-pnp-address-conflict *[data-reaction-show-on-state="state-pnp-address-conflict"],
#i-stateful.state-pnp-bus-overflow *[data-reaction-show-on-state="state-pnp-bus-overflow"],
#i-stateful.state-pnp-unknown-error *[data-reaction-show-on-state="state-pnp-unknown-error"]
{
	display: block;

	left: 0;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* .blinking{
	animation:blinkingText 0.8s infinite;
} */
@keyframes blinkingText{
	0%{		color: #fff;	}
	49%{	color: #fff;	}
	50%{	color: #fff;	}
	75%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #fff;	}
}
.state-calling *[data-reaction-show-on-state="state-calling"],
.state-trace *[data-reaction-show-on-state="state-trace"] {
	animation:blinkingText 0.8s infinite;
}